<app-modal-confirm *ngIf="modalConfirmActive" (onModalConfirmValue)="modalConfirmValue($event)"></app-modal-confirm>
<app-modal-alert *ngIf="modalAlertClose" (onCloseAlert)="modalAlertClose = $event"></app-modal-alert>
<app-header (addNewTask)="pushTask($event)"
            (emptyAddTaskInput)="modalAlertClose = $event"
            (onSearchInput)="searchInputValue = $event"
>
</app-header>
<app-buttons-block
  (onSortBtn)="sortValue = $event.value; sortKey = $event.key"
></app-buttons-block>

<div class="task-container">
  <ul class="task-container__list" >
    <div *ngIf="tasks.length; else noTodos">
      <app-task
        *ngFor="let task of tasks | searchPipe: searchInputValue | sort: [sortValue, sortKey]; let index = index "
        [index]="index"
        [task]="task"
        (onRemoveTask)="deleteTask($event)"
        (onEditTask)="editTask($event)"
        (onChangeImportantTask)='changeImportantTask($event)'
        (onCheckboxChecked)='checkboxTaskChecked($event)'
      ></app-task>
    </div>
    <ng-template #noTodos>
      <li class="task-container_empty">{{emptyTitle | titlecase}}</li>
    </ng-template>

  </ul>

</div>
