<div class="container">
  <div class="container__todo">
    <app-modal-confirm
      *ngIf="confirm.activeConfirm"
    ></app-modal-confirm>
    <app-header
      (onSearchInput)="searchInputValue = $event"
    >
    </app-header>
    <app-buttons-block
      (onSortBtn)="sortValue = $event.value; sortKey = $event.key"
    ></app-buttons-block>

    <div class="task-container">

      <ul class="task-container__list">
        <app-task
          *ngFor="let task of tasks | searchPipe: searchInputValue | sort: [sortValue, sortKey]; let index = index "
          [index]="index"
          [task]="task"></app-task>
          <li *ngIf="!tasks.length" class="task-container_empty">{{emptyTitle | titlecase}}</li>
      </ul>
    </div>
  </div>
</div>
