.task-container {
  max-width: 960px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/content-background.png) no-repeat;
  background-size: cover;

  &__list {
    max-width: 960px;
    min-height: 768px;
    width: 100%;
    padding: 30px 80px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .25) inset;
    background: #fff;
    border-radius: 5px;
  }
}

.task-container_empty {
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  list-style: none;
  text-shadow: 1px 3px 10px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px;
}

.loading-title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  list-style: none;
  text-shadow: 1px 3px 10px rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 6px;
  padding: 10px;
}
