<li class="task" [ngClass]="{
task_one: counter.value === 1,
task_two: counter.value === 2,
task_three: counter.value === 3,
task_four: counter.value === 4,
task_fife: counter.value === 5,
task_inactive: checkboxValue
}">

  <label class="task__checkbox">
    <input type="checkbox" class="checkbox" (click)="onCheck($event)" [checked]="check">
    <span class="check-span"></span>
  </label>

  <p class="task__text">{{task.text}}</p>
  <p class="task__date">{{task.date | date: 'HH:mm:ss, dd.MM.yyyy'}}</p>


  <div class="important-block" [ngClass]="{'important-block_active': counterActive}">
    <p class="important-block___value"> {{ counter.value }} </p>
    <div class="important-block__buttons">
      <button class="btn-important_close" (click)="counterClose()"></button>
      <button class="btn-important" (click)="counter.inc()">+</button>
      <button class="btn-important" (click)="counter.dec()">-</button>
        <button class="btn-important btn-important_send" (click)="updateImportant()"></button>
    </div>
  </div>


  <div class="edit-form" [ngClass]="{ 'edit-form_active': taskEditActive === true }">
    <label>
      <textarea maxlength="150" class="edit-form__text" (keyup.enter)="editTask()"
                [(ngModel)]="editFormValue"></textarea>
    </label>
    <div class="edit-form__buttons">
      <button class="btn btn-edit" (click)="cancelEditTask()">Cancel</button>
      <button class="btn btn-edit" (click)="editTask()">Edit</button>
    </div>
  </div>


  <div class="button-burger"
       (click)="buttonsTaskActive = !buttonsTaskActive">
    <div class="buttons" [ngClass]="{ buttons_active: buttonsTaskActive }">
      <div *ngIf="!check">
        <button class="btn-task btn-task_edit"
                (click)="taskEditActive = true">
        </button>
        <button class="btn-task btn-task_important"
                (click)="counterActive = !counterActive">
        </button>
      </div>

      <button class="btn-task btn-task_delete"
              (click)="taskDelete()">
      </button>
    </div>
  </div>
</li>
